@{
    ViewData["title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="text-center" ng-app="">
    <h1 class="display-4">"Home Page";</h1>
    <p>Name : <input type="text" ng-model="name"></p>
    <p>{{100+100}}</p>
</div>