@{
    ViewData["title"] = "Welcome";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="text-center" ng-app="myApp" ng-controller="myCtrl">
    <h1 class="display-4">Welcome to home page</h1>
    
</div>